/* Natural box layout model to all elements*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  color: #e2574c;
}
.screen-reader-text:focus {
  clip: auto !important;
  display: block;
  height: auto;
  left: 5px;
  top: 5px;
  width: auto;
  z-index: 100000; /* above all content */
}
#main[tabindex="-1"]:focus {
  outline: 0;
}

/*
/* Basic Typography for entire page(s) 
--------------------------------------- */

html,
body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #2d2d2d;
}
p{
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: center;
}
/* Global styles for all  */

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

h1{
  font-size: 2.5rem;

}

h2{
  font-size: 2.5rem;
  font-style: italic;
  


}
h2 span{
  
  font-style: normal;
  font-weight: bold;
  

}

h3{
  font-size: 1.5rem;

}
.container {
 max-width: 1080px;
 margin: 0 auto;
}
a {
  color: #ffffff;
  text-decoration: none;
  
}
a:hover {
  color: rgb(199, 77, 61);
}
  

/* Header styles  ;
--------------------------------------- */

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 96px;
    
    
    }
    .header-logo {
      order: 1;
      height: 50px
    }
    .header-logo img{
      max-width: 160px;
    }
    .nav {
      order: 2;
      width: 3px;
     }
     .nav-list {
       display: flex;
       justify-content: center;
       flex-direction: row;       

      }
      .nav-list a {
        display:block;
        padding: 0.5rem;
        color:  #e2574c;
        text-decoration: none;
        font-weight: bolder;
        padding-right: 40px;
        font-size: 18px;
      }
    .cart {
      order: 3;
      display: flex;
      flex-direction: row-reverse;
      height: 50px;
      
    }
    .cart-img {
      height: 58px;
    }
       
     /* 1 Banner styles 
--------------------------------------- */
     .banner {
      background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),url(../../images/banner-girl.png) no-repeat center 60px,url(../../images/flower-bkgd.jpg) repeat-x top;
      background-size: cover,268px 600px,cover;
      height: 550px;
      position: relative;
    }
    .text-banner {
    color: white;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    }
    .new-collection {
     font-family: 'Raleway', sans-serif;
     font-size: 1.3rem;
     font-weight: bolder;
     margin-bottom: -5px;

    }
    .summer-2020 {
      font-family: 'Playfair Display', serif;
      font-size: 4rem;
      font-style: normal;

    }

    
    /* Hand-Crafted Styles section 
--------------------------------------- */

.small-container {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 4%;
  padding-bottom: 4%;
  }

/* Item selection  section
--------------------------------------- */
.item-selection {
  height: 20em;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  position: relative;
}
.section-item-selection {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  height: 49rem;
  
}
.item-selection h2 {
  font-family: "Raleway";
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 0.1em solid white;
  font-size: 0.7em;
  text-shadow: 1px 1px 1px lightslategrey;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.category-text {
  position: absolute;
  padding-bottom: 10%;
}
.item-selection h2:nth-child(1) {
  width: 50%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/mens-category.jpg");
}
.item-selection h2:nth-child(2) {
  width: 25%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/trends-category.jpg");
}
.item-selection h2:nth-child(3) {
  width: 25%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/glasses-category.jpg");
}
.item-selection h2:nth-child(4) {
  width: 25%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/sale-category.jpg");
}
.item-selection h2:nth-child(5) {
  width: 25%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/bags-category.jpg");
}
.item-selection h2:nth-child(6) {
  width: 50%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/womens-category.jpg");
  
}




/* Most - loved products section
--------------------------------------- */

.slider {
  display: flex;
  justify-content: center;
}

/* Product Cards Section
--------------------------------------- */


.product-cards {
	padding-top: 5rem;
}

.product-cards h4,
.product-cards p {
	color: #969696;
	width: 100%;
}

.add-product {
	width: 50%;
	position: relative;
	background-color: #242424;
}

.carousel-cell {
	width: 100%;
}

/* Sign - up for update section
--------------------------------------- */

.subscribtion {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/wave-bkgd.jpg");
  background-size: cover, cover, cover;
  background-position:bottom, bottom, bottom;
  background-repeat: no-repeat;
  padding-bottom: 10px;
}

.sign {
  max-width: 700px;
  margin: 0 auto;
  color: white;
}

/* Footer section
--------------------------------------- */
.footer {
  height: 100%;
  align-content: center;
  padding: 0 2%;
  text-align: left;
  font-family: 'Playfair Display Web',serif;
  color: #ffffff;
  background-color: #242423;
  line-height: 1.5;
}
.info-section {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  padding-top: 2.5rem;

}

.copyrights {
  display: flex;
  margin-bottom: 1rem;
}
.contact-us {
  display: flex;
  margin-bottom: 1rem;
  line-height: 1.5;

}
.address {
  display: flex;
  color: #969696;
}
.social-media-list {
  display: flex;
  padding-bottom: 3rem;
  flex-direction: column;
  text-decoration: none;


}
.link {
  text-decoration: underline;
  }

/*Media Query For tablet*/
@media only screen and (min-width: 600px){
    
}
  
  /*Media Query For mobile*/
  @media (max-width:500px) {
    body {
    }
    .site-header {
      
      
      }
      .header-logo {

      }
      .header-logo img{
        max-width: 150px;
      }
      .nav {
       }
       .nav-list {
         
        }
        .nav-list a {
          display:block;
          padding: 0.5rem;
          color:  #e2574c;
          text-decoration: none;
          font-weight: bolder;
        }
      .cart {
        order: 3;
        display: flex;
        flex-direction: row-reverse;
        height: 50px;
        
      }
         

   .item-selection h2:nth-child(1) {
     width: 100%;
   }
   .item-selection h2:nth-child(2) {
     width: 50%;
    }
   .item-selection h2:nth-child(3) {
     width: 50%;
    }
   .item-selection h2:nth-child(4) {
     width: 50%;
    }
   .item-selection h2:nth-child(5) {
     width: 50%;
    }
   .item-selection h2:nth-child(6) {
    width: 100%;
  }

  .footer {
    height: 100%;    
    padding: 4rem 0;

  }
  .info-section {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .social-media-list{
    flex-direction: row;
    
  }
  i{
    min-width: 25px;
  }
  .social-text { 
    display: none;
 }
}


  